@model IEnumerable<FinalProjectWorkspace.Models.Price>

@{
    ViewData["Title"] = "Index";
}


    <br />
<h1 class="text-center text-danger">Prices Home</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<p class="text-center">
    <a class="btn btn-outline-primary" asp-action="Create">Create New</a>
</p>
<table class="table table-hover text-center">
    <thead>
        <tr class="text-light text-center">
            <th>
                @Html.DisplayNameFor(model => model.PriceName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceAmount)
            </th>
            <th>
                Edit
            </th>
            <th>
                Details
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr class="table-secondary text-center text-dark">
            <td>
                @Html.DisplayFor(modelItem => item.PriceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceAmount)
            </td>
            <td>
                <a class="btn btn-outline-warning" asp-action="Edit" asp-route-id="@item.PriceID">Edit</a>
            </td>
            <td>
                <a class="btn btn-outline-info" asp-action="Details" asp-route-id="@item.PriceID">Details</a>
            </td>
            <td>
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.PriceID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
