@model FinalProjectWorkspace.Models.Showing

@{
    ViewData["Title"] = "Delete a Showing";
}

    <div class="text-center">
        <br />
        <h1 class="text-center text-danger">Delete An Unpublished Showing</h1>
    </div>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<h3 class="text-center">Are you sure you want to delete this unpublished showing?</h3>
<div class="list-group">
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.ShowingDate)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.ShowingDate)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.StartTime)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.StartTime)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.EndTime)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.EndTime)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.Theatre)
            </h5>
        </div>
        <p class="mb-1">
            @Html.DisplayFor(model => model.Theatre)
        </p>
    </a>
    <a class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                @Html.DisplayNameFor(model => model.SpecialEvent)
            </h5>
        </div>
        <p class="mb-1">
            @if (Model.SpecialEvent == true)
            {
                @:Yes
            }
            else
            {
                @:No
            }
        </p>
    </a>
</div>
<br />
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShowingID" />
        <input type="submit" value="Delete" class="btn btn-outline-danger" />
        <a class="btn btn-outline-primary" asp-action="Index">Back to Movies Schedules</a>
    </form>
</div>
