@model IndexViewModel
@{
    ViewBag.Title = "Account Details";
}


    <br />
<h1 class="text-center text-danger">@ViewBag.Title</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />


<div >
    <br />
    <dl class="dl-horizontal">
        <dt>User Name:</dt>
        <dd>@Model.UserName</dd>

        <dt>Popcorn Points:</dt>
        <dd>@Model.PCPBalance</dd>

        <dt>Email:</dt>
        <dd>@Model.Email</dd>

        <dt>Phone Number:</dt>
        <dd>@Model.PhoneNumber</dd>

        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>

        <dt>Middle Initial:</dt>
        <dd>@Model.MiddleInitial</dd>

        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>

        <dt>Address:</dt>
        <dd>@Model.Address</dd>

        <dt>City:</dt>
        <dd>@Model.City</dd>

        <dt>State:</dt>
        <dd>@Model.State</dd>

        <dt>Zip:</dt>
        <dd>@Model.Zip</dd>

        <dt>Birthday:</dt>
        <dd>@Html.DisplayFor(model => model.Birthday)</dd>

        <dt>Account Status:</dt>
        <dd>@Model.AccountStatus</dd>
        <br />

    
        <a asp-action="EditAccount" asp-route-id="@Model.UserID" class="btn btn-outline-primary text-center">Edit Account</a>
        @if (User.Identity.IsAuthenticated)
        {
            @if ((User.IsInRole("Manager") || User.IsInRole("Employee")) && Model.UserName == User.Identity.Name)
            {
                <a asp-action="ChangePasswordEmpMan" asp-route-id="@Model.UserID" class="btn btn-outline-danger text-center">Change password</a>
            }
            else
            {
                <a asp-action="ChangePassword" asp-route-id="@Model.UserID" class="btn btn-outline-danger text-center">Change password</a>
            }
        }

        @if (User.Identity.IsAuthenticated)
        {
            @if (User.IsInRole("Manager"))
            {
                <a asp-action="ManagerHomeView" asp-controller="Home" class="btn btn-outline-warning text-center">Manager Home</a>
            }
            else if (User.IsInRole("Employee"))
            {
                @if (User.IsInRole("Manager"))
                {
                    <a asp-action="ManagerHomeView" asp-controller="Home" class="btn btn-outline-warning text-center">Manager Home</a>
                }
                else if (User.IsInRole("Employee"))
                {
                    <a asp-action="EmployeeHomeView" asp-controller="Home" class="btn btn-outline-warning text-center">Employee Home</a>
                }
            }
        }

    </dl>
</div>