@model IEnumerable<FinalProjectWorkspace.Models.Movie>

@{ ViewData["Title"] = "Movie Search Results"; }


    <br />
<h1 class="text-center text-danger">Search Results</h1>
<hr style="height:2px;border-width:0;color:#d0faff;background-color:#d0faff">
<br />

<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="Browse">Back to Search</a>
</div>
<br />
<div class="text-center">
    <p class="text-center">
        Displaying @ViewBag.SelectedMovies out of @ViewBag.AllMovies All Movies
    </p>
</div>

<table class="table table-hover text-center">
    <thead>
        <tr class="text-light text-center">
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre.GenreName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MPAARating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RunTime)
            </th>
            <th>
                Review Rating
            </th>
            <th>
                See Reviews
            </th>
            <th>
                Upcoming Showtimes
            </th>
            <th>
                Movie Details
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table-secondary text-center text-dark">
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Genre.GenreName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MPAARating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RunTime)
                </td>
                <td>
                    @{Double? avgReview = item.MovieReviews.Where(r => r.ApprovalStatus == true).Average(m => m.Rating);}
                    @if (avgReview != null)
                    {
                        @avgReview
                    }
                    else
                    {
                        @:0
                    }

                </td>
                <td>
                    <a asp-action="Index" asp-controller="MovieReview" asp-route-movieid="@item.MovieID" class="btn btn-outline-info">Reviews</a>
                </td>
                <td>
                    @if (!item.Showings.Any())
                    {
                        @:None Upcoming!
                    }
                    else
                    {
                        if (ViewBag.showingDate != null)
                        {
                            foreach (var showing in item.Showings)
                            {
                                if (showing.ShowingDate == ViewBag.showingDate)
                                {
                                    @Html.DisplayFor(modelShowing => showing.ShowingDate) @:at @Html.DisplayFor(modelShowing => showing.StartTime) <br />
                                }
                            }
                        }
                        else
                        {
                            Int32 blankCount = 0;
                            Int32 totalCount = 0;
                            Int32 unpublishedCount = 0;
                            @foreach (var showing in item.Showings)
                            {
                                totalCount += 1;
                                DateTime showingTime = new DateTime(showing.StartTime.Year, showing.StartTime.Month, showing.StartTime.Day,
                                    showing.StartTime.Hour, showing.StartTime.Minute, showing.StartTime.Millisecond);
                                if (DateTime.Now < showingTime && showing.Status == "Published")
                                {
                                    @Html.DisplayFor(modelShowing => showing.ShowingDate) @:at @Html.DisplayFor(modelShowing => showing.StartTime) <br />
                                    <br />

                                }
                                else
                                {
                                    blankCount += 1;
                                    if (showing.Status == "Unpublished")
                                    {
                                        unpublishedCount += 1;
                                    }
                                }
                            }
                            if (blankCount == totalCount)
                            {
                                if (unpublishedCount >= 1)
                                {
                                    @:Coming soon!
                                }
                                else
                                {
                                    @:None Upcoming

                                }
                            }
                        }
                    }
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.MovieID" class="btn btn-outline-info">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="text-center">
    <a class="btn btn-outline-primary" asp-action="Browse">Back to Search</a>
</div>

